%script{:src => 'http://code.highcharts.com/highcharts.js', :type => 'text/javascript'}

.row-fluid
  .span6
    .box
      .box-title Usage
      .box-content.nopadding
        #graph{:style => "height: 300px; width: 99%;"}

        :javascript
          var chart1; // globally available
          $(document).ready(function() {
              chart1 = new Highcharts.Chart({
                chart: {
                  renderTo: 'graph',
                  type: 'line',
                },
                title: {
                  text: ''
                },
                xAxis: {
                  type: 'datetime',
                  title: {
                     text: 'Days'
                  }
                },
                yAxis: {
                  title: {
                     text: 'Count'
                  }
                },
                plotOptions: {
                    line: {
                      pointInterval: 24 * 3600 * 1000,
                      pointStart: Date.UTC(#{(Time.now - 30*24*3600).year}, #{(Time.now - 30*24*3600).month - 1}, #{(Time.now - 30*24*3600).day}),
                    }
                },
                series: [{
                  name: 'Players',
                  data: #{get_players_graph_data}
                }, {
                  name: 'Otservs',
                  data: #{get_otservs_graph_data}
                }, {
                  name: 'Instances',
                  data: #{get_instances_graph_data}
                }]
              });
           });
  .span6
    .box
      .box-title FPS Distribution
      .box-content.nopadding
        #fps_graph{:style => "height: 300px; width: 99%;"}

        :javascript
          $(function () {
              var chart;
              $(document).ready(function() {
                  chart = new Highcharts.Chart({
                      chart: {
                          renderTo: 'fps_graph',
                          zoomType: 'x',
                          type: 'area'
                      },
                      title: {
                          text: ''
                      },
                      legend: {
                          enabled: false
                      },
                      yAxis: {
                          title: {
                              text: 'Percentage'
                          },
                          min: 0,
                          max: 100
                      },
                      xAxis: {
                          title: {
                              text: 'Average FPS'
                          },
                          gridLineWidth: 1,
                      },
                      tooltip: {
                          formatter: function() {
                              return '<b>' + Highcharts.numberFormat(this.y, 0) + '%</b>of players have fps less than <b>' + this.x + '</b>';
                          }
                      },
                      plotOptions: {
                          area: {
                              marker: {
                                  enabled: false,
                                  symbol: 'circle',
                                  radius: 2,
                                  states: {
                                      hover: {
                                          enabled: true
                                      }
                                  }
                              }
                          }
                      },
                      series: [{
                          name: 'Percentage',
                          data: #{get_fps_graph_data}
                      }]
                  });
              });

          });
.row-fluid
  .span6
    .box
      .box-title Statistics
      .box-content.nopadding
        %table.table.table-bordered.table-striped
          %tbody
            %tr
              %td{:style => "width: 160px;"} Total players:
              %td= Player.all.count
            %tr
              %td Total otservs:
              %td= Otserv.all.count
            %tr
              %td Total instances:
              %td= Instance.all.count
            %tr
              %td Total time played:
              %td= minutes_to_units(Instance.total_minutes_played)
