!!!
%html
  %head
    %title otclient stats
    %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    %link{:rel => "stylesheet", :href => "main.css", :type => "text/css"}
    %link{:rel => "stylesheet", :href => "http://code.jquery.com/ui/1.8.23/themes/smoothness/jquery-ui.css", :type => "text/css"}
    %link{:rel => "stylesheet", :href => "http://www.datatables.net/release-datatables/media/css/demo_table_jui.css", :type => "text/css"}
    %script{:src => "http://code.jquery.com/jquery.min.js", :type => "text/javascript"}
    %script{:src => "http://code.jquery.com/ui/1.8.23/jquery-ui.min.js", :type => "text/javascript"}
    %script{:src => "http://datatables.net/release-datatables/media/js/jquery.dataTables.min.js", :type => "text/javascript"}
    %script{:src => "/main.js", :type => "text/javascript"}
  %body
    #header
    #content
      %table#reports.display.dataTable{:cellpadding=>"0", :cellspacing=>"0", :border=>"0" }
        %thead
          %tr
            %th Date
            %th Player Name
            %th Otserv
            %th FPS
            %th Graphics Card
            %th Graphics Version
            %th Version
            %th Commit
        %tbody
          - @reports.each do |report|
            %tr
              %td= report.date.asctime
              %td= report.player_name
              %td= report.otserv_host
              %td= "#{report.fps}/#{report.max_fps}"
              %td= "#{report.graphics_vendor} #{report.graphics_renderer}"
              %td= "#{report.graphics_version}"
              %td= "#{report.build_version} #{report.build_revision}"
              %td= "#{report.build_commit}"
    #footer
