!!! 5
%html{:lang => 'en'}
  %head
    %title Otclient Stats
    = haml :_head, :layout => false
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          .nav-collapse.collapse
            %ul.nav
              = nav_link '/instances', 'Instances'
              = nav_link '/otservs', 'Otservs'
              = nav_link '/players', 'Players'
              /= nav_link '/reports', 'Last Reports'

          .btn.pull-right= link_to '/logout', 'Logout'
    .container
      - if flash[:notice]
        .alert
          %button{:type=>"button", :class=>"close", :'data-dismiss'=>"alert"}×
          = flash[:notice]
      =yield
      .clear
    %footer.footer
      .container
        %p.pull-right
          %a{:href => '#'} Back to top
        %p
          Created by edubart