%h1 Online
%table.datatable.table.table-bordered.table-striped
  %p Players online in the last 5 minutes.
  %thead
    %tr
      %th Player Name
      %th Otserv
      %th FPS
      %th Graphics Card
      %th Graphics Version
      %th Version
      %th Commit
  %tbody
    - @reports.each do |report|
      %tr
        %td= report.player_name
        %td= report.otserv_host
        %td= "#{report.fps}/#{report.max_fps}"
        %td= "#{report.graphics_vendor} #{report.graphics_renderer}"
        %td= "#{report.graphics_version}"
        %td= "#{report.build_version} #{report.build_revision}"
        %td= "#{report.build_commit}"
